{% extends 'base.html' %}
{% load filters %}
{% load djangovue %}

{% block content %}
<div class="flex-between-center py-4">
	<h5>Hasabat</h5>
	<div class="flex-between-center gap-x-4">
		<a href="{% url 'reports' %}"><button type="button" class="btn btn-outline-primary">
			Töleg Hasabat
		</button></a>
		<a href="{% url 'loan-reports' %}"><button type="button" class="btn vl-btn">
			Algy Hasabat
		</button></a>
	</div>
</div>

<div class="overflow-x-scroll scroll-hide">
	<form action="{% url 'loan-reports' %}">
		<div class="flex-between-center bg-white p-3 min-w-[1250px]">
			<div class="flex-between-center gap-x-4 p-2">
				<div class="flex-between-center form-outline cursor-pointer py-2 w-64 px-3">
					<span class="material-icons-outlined">
						calendar_today
					</span>
					<input id="example" name="from_date" value="{{ request.GET.from_date }}" placeholder="Başdaky senesi" pattern="{% D_M_Y %}" type="text" class="form-control absolute text-center cursor-pointer" />
					<span class="material-icons-outlined">
						arrow_drop_down
					</span>
				</div>
				<div class="flex-between-center form-outline cursor-pointer py-2 w-64 px-3">
					<span class="material-icons-outlined">
						calendar_today
					</span>
					<input id="example2" name="to_date" value="{{ request.GET.to_date }}" placeholder="Soňky senesi" pattern="{% D_M_Y %}" type="text" class="form-control absolute text-center cursor-pointer" />
					<span class="material-icons-outlined">
						arrow_drop_down
					</span>
				</div>
				<div class="relative select border w-72 {% if user.employee.is_worker %} hidden {% endif %}">
					<select name="employee" class="select-text pl-6">
						<option value="" disabled></option>
						<option {% if 'Hemmesi' == request.GET.employee %} selected {% endif %}>Hemme işgär</option>
						{% for employee in employees%}
							<option value="{{ employee.user.username }}" {% if employee.user.username == request.GET.employee %} selected {% endif %}>{{ employee.user.first_name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="flex-between-center gap-x-4	">
				<button type="submit" class="btn vl-btn">
					<span class="material-icons-outlined"> filter_alt </span> Filter
				</button>
				<a href="{% url 'export_loans_xls' %}?from_date={{ request.GET.from_date }}&to_date={{ request.GET.to_date }}" class="btn vl-btn bg-green-700">
					<span class="material-icons-outlined"> ios_share </span> Excell
				</a>
			</div>
		</div>
	</form>
</div>

<div class="bg-white mt-6 px-6 py-4">
	<div class="overflow-x-scroll">
		<table class="table table-hover bg-white">
			<thead>
				<tr class="bg-disable-gray">
					<th class="sb-2">Dükan</th>
					<th class="sb-2">Şertnama ( {{ loans.count }} )</th>
					<th class="sb-2">Müşderi</th>
					<th class="sb-2">Telefon</th>
					<th class="sb-2">Möçberi ( {{ amount }} m )</th>
					<th class="sb-2">Alan wagty</th>
					<th class="sb-2">Algyny döreden işgär</th>
				</tr>
			</thead>
			<tbody>
				{% for loan in loans %}
				<tr>
					<th>{{ loan.store }}</th>
					<th>{{ loan.get_id }}</th>
					<th><a href="{{ loan.customer.get_absolute_url }}">{{ loan.customer }}</a></th>
					<th>+993{{ loan.customer.phone }}</th>
					<th>{{ loan.first_amount_price }}</th>
					<th>{{ loan.created|date:'d-m-Y H:i' }}</th>
					<th>{{ loan.employee.user.first_name }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block css %}
<style media="screen">
	.overflow-x-scroll th {
		padding: 20px 8px !important;
		height: 70px !important;
	}

	.overflow-x-scroll th span {
		font-size: 24px !important;
	}

	.overflow-x-scroll table {
		min-width: 1150px !important;
	}
</style>
{% endblock css %}
