{% extends 'base.html' %}
{% load static %}
{% load djangovue %}

{% block content %}

<form action="{% url 'customers-update' customer.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="flex-between-center py-4">
		<div class="flex items-center space-x-4">
			<a href="{% url 'customers' %}"><span class="material-icons-outlined py-1">
				keyboard_backspace
			</span></a>
			<p class="sb-1">Müşderiler </p>
			<h5> / Müşderi maglumatlary</h5>
		</div>
		<div class="flex space-x-4">
			<a href="#"><button type="submit" class="btn vl-btn">
				Üýtget
			</button></a>
		</div>
	</div>

	{% if messages %}
	    {% for message in messages %}
			<div class="bg-rose-100 rounded-lg py-2 px-6 mb-4 text-base text-rose-500 mb-3" role="alert">{{ message }}</div>
		{% endfor %}
	{% endif %}

	<div class="flex justify-between bg-white space-x-8 px-4 py-6">
		<div class="w-1/2">
			<h6 class="text-black py-4">Müşderi barada</h6>
			<div class="grid grid-cols-2 gap-x-4 gap-y-6">
				<div class="form-outline">
					<input type="text" name="last_name" value="{{ customer.last_name }}" class="form-control" required />
					<label class="form-label" for="typeText">Familýasy</label>
				</div>
				<div class="form-outline">
					<input type="text" name="first_name" value="{{ customer.first_name }}" class="form-control" required />
					<label class="form-label" for="typeText">Ady</label>
				</div>
				<div class="form-outline">
					<input type="text" name="patronymic" value="{{ customer.patronymic }}" class="form-control" required />
					<label class="form-label" for="typeText">Atasynyň ady</label>
				</div>
				<div class="form-outline">
					<input type="text" name="passport_id" value="{{ customer.passport_id }}" class="form-control" required minlength="10" />
					<label class="form-label" for="typeText">Passport seriýa</label>
				</div>
				<div class="form-outline">
					<div class="flex-between-center form-outline cursor-pointer py-2 w-full px-3">
						<span class="material-icons-outlined">
							calendar_today
						</span>
						<input name="birthday" id="example" onblur="calculateAge(this)" value="{{ customer.birthday|date:'d-m-Y' }}" placeholder="Dogulan güni-aýy-ýyly" type="text" pattern="{% D_M_Y %}" class="form-control absolute text-center cursor-pointer" />
						<span class="material-icons-outlined">
							arrow_drop_down
						</span>
					</div>
				</div>
				<div class="form-outline">
					<input type="number" name="age" value="{{ customer.age }}" class="form-control" />
					<label class="form-label" for="typeText">Ýaşy</label>
				</div>
			</div>
			<div class="input-group mt-6">
				<span class="input-group-text" id="basic-addon1">+993</span>
				<input type="text" name="phone" value="{{ customer.phone }}" placeholder="Telefon nomer" required minlength="8" maxlength="8" class="form-control" />
			</div>
			<div class="grid grid-cols-2 gap-x-4 gap-y-6">
				<div class="input-group my-6">
					<span class="input-group-text" id="basic-addon1">+993</span>
					<input type="text" name="phone2" value="{{ customer.phone2 }}" placeholder="Telefon nomer 2" class="form-control" required minlength="8" maxlength="8" />
				</div>
				<div class="input-group my-6">
					<span class="input-group-text" id="basic-addon1">+993</span>
					<input type="text" name="phone3" value="{{ customer.phone3 }}" placeholder="Telefon nomer 3" class="form-control" required minlength="8" maxlength="8" />
				</div>
			</div>
		</div>
		<div class="w-1/2">
			<h6 class="text-black text-end py-4">Müşderiniň umumy bergisi: <span class="text-slate-600">{{ customer.get_payment_amount }} m</span></h6>
			<div class="form-outline">
				<input type="text" name="work_place" value="{{ customer.work_place }}" class="form-control" />
				<label class="form-label" for="typeText">Iş ýeri</label>
			</div>
			<div class="form-outline mt-6">
				<input type="text" name="registration" value="{{ customer.registration }}" required class="form-control" />
				<label class="form-label" for="typeText">Ýazgyda duran ýeri</label>
			</div>
			<div class="grid grid-cols-2 gap-x-4 gap-y-6 py-6">
				<div class="form-outline">
					<div class="flex-between-center form-outline cursor-pointer py-2 w-full px-3">
						<span class="material-icons-outlined">
							calendar_today
						</span>
						<input name="passport_created_date" value="{{ customer.passport_created_date|date:'d-m-Y' }}" id="example2" placeholder="Passport berlen senesi" type="text" required pattern="{% D_M_Y %}" class="form-control absolute text-center cursor-pointer" />
						<span class="material-icons-outlined">
							arrow_drop_down
						</span>
					</div>
				</div>
				<div class="form-outline">
					<input type="text" name="county" value="{{ customer.county }}" class="form-control" required />
					<label class="form-label" for="typeText">Passport kim tarapyndan berildi</label>
				</div>
				<div class="select w-full border">
					<select name="type" class="select-text w-full pl-4" required>
						<option value="{{ customer.type }}" disabled selected>{{ customer.type }}</option>
						<option value="Işsiz">Işsiz</option>
						<option value="Hökümet Işgär">Hökümet Işgär</option>
						<option value="Firma Işgär">Firma Işgär</option>
						<option value="Talyp">Talyp</option>
						<option value="Ýokary wezipeli">Ýokary wezipeli</option>
						<option value="Hususy işgär">Hususy işgär</option>
					</select>
					<label class="select-label">Wezipesi</label>
				</div>
				<div class="form-outline">
					<input type="text" name="notes" value="{{ customer.notes }}" class="form-control" />
					<label class="form-label" for="typeText">Bellik</label>
				</div>
			</div>
			<div class="form-outline mt-4 relative {% if not customer.get_file %} hidden {% endif %}">
				<input type="text" id="typeText" class="form-control" disabled />
				<label id="fileLabel" class="form-label" for="typeText">{{ customer.get_file }}</label>
			</div>
			<input class="hidden" type="file" name="file" id="fileInput">
			<div id="fileContent" class="flex items-center cursor-pointer text-primary-light space-x-4 py-4">
				<span class="material-icons-outlined"> attach_file </span>
				<p class="uppercase">1-nji faýl ýükläň</p>
			</div>

			<div class="form-outline relative {% if not customer.get_file2 %} hidden {% endif %}">
				<input type="text" id="typeText" class="form-control" disabled />
				<label id="fileLabel2" class="form-label" for="typeText"> {{customer.get_file2}}</label>
			</div>
			<input class="hidden" type="file" name="file2" id="fileInput2">
			<div id="fileContent2" class="flex items-center cursor-pointer text-primary-light space-x-4 py-4">
				<span class="material-icons-outlined"> attach_file </span>
				<p class="uppercase">2-nji faýl ýükläň</p>
			</div>
		</div>
	</div>
</form>
{% endblock content %}

{% block css %}
<style media="screen">
	.overflow-x-scroll th {
		padding: 20px 8px !important;
	}

	.overflow-x-scroll th > span {
		font-size: 20px !important;
	}

	.overflow-x-scroll table {
		min-width: 1150px !important;
	}
</style>
{% endblock css %}

{% block js %}
<script src="{% static 'assets/js/file.js' %}" charset="utf-8"></script>
{% endblock js %}
